<div [classList]="isMobile ? 'container p-0 mt-10' : 'container p-0 mt-20'">
  <div class="row mt-20 pb-20 bg-white justify-content-center margin-200 text-black ">
    <div class="row mt-10 mb-10 fw-medium text-center">
      <span [classList]="isMobile?'fs-3 fw-bold text-center':'fs-1 fw-bold text-center uppercase'"> {{ 'oquevaiaprender'
        |
        translate }} </span>
      <div class="fs-5">
        {{ 'vejaosmod' | translate }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col flex justify-center mb-7">
        <div class="card drop-shadow-md h-60" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'boasvindas' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'boasvindas' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'minhaxp' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'suptel' | translate }} </p>
          </div>
        </div>
      </div>
      <div class="col flex justify-center  mb-7">
        <div class="card drop-shadow-md h-60 " style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'fundteo' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'intro' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'aprendendo' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'crescimento' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'problemas' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'anatomia' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'espessura' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'diff' | translate }} </p>
          </div>
        </div>
      </div>
      <div class="col flex justify-center  mb-7">
        <div class="card drop-shadow-md h-60" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'bp' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'aviso' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'bpprof' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'pos' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'otimi' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'conhec' | translate }} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col flex justify-center mb-7">
        <div class="card drop-shadow-md h-60" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'mateqp' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'mateqp' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'tpca' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'tpmo' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'prepa' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'geis' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'utg' | translate }} </p>
          </div>
        </div>
      </div>
      <div class="col flex justify-center mb-7">
        <div class="card drop-shadow-md h-60" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'apnap' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'prepf' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'prepu' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'apfi' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'lixa' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'sela' | translate }} </p>
          </div>
        </div>
      </div>
      <div class="col flex justify-center mb-7">
        <div class="card drop-shadow-md h-60" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold text-pink-800"> {{ 'bonus' | translate }} </h5>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'man' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'rem' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'pergf' | translate }} </p>
            <p class="card-text"><span class="text-pink-800 fw-bold">- </span> {{ 'quantopo' | translate }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>