<div class="container p-0 mt-20">
  <div [classList]="isMobile?'d-flex flex-col align-items-center':'d-flex flex-row gap-40 justify-content-center'">
    <div class="d-flex flex-col justify-center align-middle">
      <div class="fs-1 fw-bold text-center uppercase">
        <span> {{ 'satis' | translate }} </span>

      </div>
      <br />
      <br />
      <div class="text-justify">
        {{ 'vcnao' | translate }} <br /><br />

        <p> {{ 'ese' | translate }} </p>
      </div>
    </div>
    <div class="flex justify-center m-0">
      <img src="./../../../assets/selo-garantia-7-dias-pe80dmcg6mfxu8vzuqin556sbxh3rc55hmq54psr5w.png" alt=""
        class="max-w-xs">
    </div>
  </div>
</div>