<div [classList]="isMobile ? 'container p-0 mt-10' : 'container p-0 mt-20'">
  <div [classList]="isMobile?'row justify-content-center':'row'">
    <div [classList]="isMobile?'row circle-mobile justify-content-center':'col circle'">
      <img src="./../../../assets/photo.png" alt="">
    </div>
    <div [classList]="isMobile?'row':'col'">
      <div [classList]="isMobile ? 'text-center mt-10' : 'text-start mt-20'">
        <span [classList]="isMobile?'fs-5 fw-bold':'fs-1 fw-bold'"><span class="text-pink-800">LETÍCIA</span>
          REIMCHE</span>
      </div>
      <div [classList]="isMobile?'text-justify':'text-start fs-5'">
        Muito prazer, me chamo Laila Barros e trabalho como nail designer desde os 14 anos de idade, aos 16 anos eu já
        tinha o
        meu próprio espaço e uma cartela de clientes fixas. Graças a essa profissão eu mudei a minha realidade e
        conquistei a
        minha independência financeira mesmo sendo muito nova. E depois de anos nessa profissão, resolvi ajudar outras
        mulheres
        a iniciarem no mundo das unhas e com a minha metodologia de ensino formei mais de 1500 alunas em todo o Brasil e
        será um
        prazer ser a sua professora nessa jornada.
      </div>
    </div>

  </div>
  <div class="row mt-20 bg-pink-800/50 justify-content-center margin-200">
    <div class="row mt-10 mb-10">
      <span [classList]="isMobile?'fs-3 fw-bold text-center':'fs-1 fw-bold text-center '">APRENDA DE CASA COM UM MÉTODO
        PRÁTICO E VALIDADO</span>
    </div>
    <div class="row justify-content-center fw-medium ">
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          PASSO A PASSO
        </div>
        <div class="row text-center">
          Todo o conteúdo tem uma didática simples e fácil para qualquer pessoa conseguir aprender.
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          TÉCNICAS PROFISSIONAIS
        </div>
        <div class="row text-center">
          Você aprenderá as melhores técnicas para usar nas suas clientes.
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          CERTIFICAÇÃO
        </div>
        <div class="row text-center">
          No final do treinamento você receberá um certificado profissional para comprovar sua profissão.
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          AGENDA CHEIA
        </div>
        <div class="row text-center">
          Com todas as técnicas e estratégias do treinamento você conseguirá encher a sua agenda de clientes fiéis.
        </div>
      </div>
    </div>
  </div>
</div>
