<div [classList]="isMobile ? 'container p-0 mt-10' : 'container p-0 mt-20'">
  <div [classList]="isMobile?'row justify-content-center':'row'">
    <div [classList]="isMobile?'row circle-mobile justify-content-center':'col circle'">
      <img src="./../../../assets/photo.png" alt="">
    </div>
    <div [classList]="isMobile?'row justify-center':'col'">
      <div [classList]="isMobile ? 'text-center mt-10' : 'text-start mt-20'">
        <span [classList]="isMobile?'fs-5 fw-bold':'fs-1 fw-bold'"><span class="text-pink-800">LETÍCIA</span>
          REIMCHE</span>
      </div>
      <div class="images">
        <img src="./../../../assets/flags/baixados.png" alt="">
        <img src="./../../../assets/flags/equador.png" alt="">
        <img src="./../../../assets/flags/eua.png" alt="">
        <img src="./../../../assets/flags/portugla.png" alt="">
        <img src="./../../../assets/flags/russia.png" alt="">
        <img src="./../../../assets/flags/uruguai.png" alt="">
      </div>
      <div [classList]="isMobile?'text-justify':'text-start fs-5'">
        {{ 'apresentacao' | translate }}
      </div>
      <div class="bg-red-700 text-center flex items-center justify-center fw-bold fs-5 rounded-full h-12 mt-5 instagram"
        style="cursor: pointer">
        <a href="https://www.instagram.com/lr.alongamentos/" target="_blank" class="text-center"><i
            class="bi bi-instagram mr-2 justify-center"></i>INSTAGRAM</a>
      </div>
    </div>

  </div>
  <div class="row mt-14 bg-pink-800/50 justify-content-center margin-200">
    <div class="row mt-10 mb-10">
      <span [classList]="isMobile?'fs-3 fw-bold text-center uppercase':'fs-1 fw-bold text-center uppercase'"> {{
        'aprenda' | translate }}
      </span>
    </div>
    <div class="row justify-content-center fw-medium ">
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          {{ 'passo' | translate }}
        </div>
        <div class="row text-center">
          {{ 'todo-conteudo' | translate }}
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          {{ 'tecnicas' | translate }}
        </div>
        <div class="row text-center">
          {{ 'voce-recebera' | translate}}
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          CERTIFICAÇÃO
        </div>
        <div class="row text-center">
          {{ 'nofinal' | translate }}
        </div>
      </div>
      <div [classList]="isMobile?'row justify-content-center p-4':'col p-5'">
        <div class="row justify-content-center">
          AGENDA CHEIA
        </div>
        <div class="row text-center">
          {{ 'comtodas' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>