.circle {
  border-radius: 50%;
  width: 150px;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.circle-mobile {
  border-radius: 50%;
  object-fit: cover;
  width: auto;
  height: 300px;
  overflow: hidden;
}

.circle img {
  bottom: 0;
  width: 80%;
}

.text-small {
  font-size: 0.5rem;
}

.margin-200 {
  z-index: -1;
}

.images {
  @apply flex h-6 justify-evenly mt-4 mb-4;
}
