<div [classList]="isMobile ? 'container p-0 mt-10 pb-10' : 'container p-0 mt-20 mb-20 pb-20'">
  <div class="row mt-20 pb-20 bg-black/50 justify-content-center margin-200">
    <div class="row mt-10 mb-10 fw-medium">
      <span [classList]="isMobile?'fs-3 fw-bold text-center':'fs-1 fw-bold text-center '">PARA QUEM É O NAIL DESIGNER NA
        PRÁTICA?</span>
    </div>
    <div [classList]="isMobile?'fs-4 d-flex align-items-center px-4':'fs-4 d-flex align-items-center padding-max mb-2'">
      <i class="bi bi-check-lg mr-3"> </i>
      Para mulheres que querem conquistar a independência financeira
    </div>
    <div [classList]="isMobile?'fs-4 d-flex align-items-center px-4':'fs-4 d-flex align-items-center padding-max mb-2'">
      <i class="bi bi-check-lg mr-3"> </i>
      Para mulheres que querem ter o próprio negócio
    </div>
    <div [classList]="isMobile?'fs-4 d-flex align-items-center px-4':'fs-4 d-flex align-items-center padding-max mb-2'">
      <i class="bi bi-check-lg mr-3"> </i>
      Para quem já trabalha com nails e deseja melhorar seus serviços
    </div>
    <div [classList]="isMobile?'fs-4 d-flex align-items-center px-4':'fs-4 d-flex align-items-center padding-max mb-2'">
      <i class="bi bi-check-lg mr-3"> </i>
      Para mulheres que querem ser bem pagas e reconhecidas profissionalmente
    </div>
    <div [classList]="isMobile?'fs-4 d-flex align-items-center px-4':'fs-4 d-flex align-items-center padding-max mb-2'">
      <i class="bi bi-check-lg mr-3"> </i>
      Para mulheres que não sabem NADA sobre a profissão mas desejam se tornar uma nail designer profissional.
    </div>
    <div class="row mt-10 mb-10 fw-medium">
      <span [classList]="isMobile?'fs-4 fw-light text-center':'fs-3 fw-light text-center '">Você se identificou com
        algum
        dos itens acima? Então esse método é ideal para você!</span>
    </div>
    <button (click)="onInscricaoClick()" class="bg-pink-800  hover:bg-pink-900 text-white font-bold py-2 px-4 rounded-full w-50">INCREVA-SE</button>

  </div>
