<app-banner (inscricaoClick)="scrollToInscricao()"></app-banner>
<app-depoimentos></app-depoimentos>
<app-apresentacao></app-apresentacao>
<app-resultados-alunas></app-resultados-alunas>
<app-paraquem (inscricaoClick)="scrollToInscricao()"></app-paraquem>
<app-conteudo></app-conteudo>
<app-garantia></app-garantia>
<app-certificado></app-certificado>
<app-inscricao #inscricaoSection></app-inscricao>
<app-perguntas-frequentes></app-perguntas-frequentes>
<app-perguntas-footer></app-perguntas-footer>
