.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  margin-bottom: 50px;
}

#foto {
  max-width: 50%;
}

#title {
  margin-top: -200px;
  max-width: 80%;
}

#pag {
  max-width: 50%;
}

button {
  margin-top: -50px;
}

@media (max-width: 600px) {
  #title {
    margin-top: -150px;
    max-width: 100%;
    overflow: hidden;
  }

  #foto {
    max-width: 80%;
  }

  #pag {
    max-width: 80%;
  }

  button {
    margin-top: -30px;
  }
}
