<div class="container mt-20 bg-pink-800/40 py-3 rounded-lg">

  <div class="flex flex-col mt-10 mb-10 fw-medium">

    <span class="fs-1 fw-bold text-center">DÚVIDAS FREQUENTES</span>
  </div>
  <div>
    <div class="accordion-item" *ngFor="let item of accordionItems; let i = index">
      <div class="accordion-header fw-bold fs-5" [ngClass]="{ 'text-pink-800' :item.isOpen}"
        (click)="toggleAccordion(i)">
        {{ item.title }}
      </div>
      <div class="accordion-content ml-3 fs-5" [ngClass]="{ 'open': item.isOpen }">
        {{ item.content }}
      </div>
    </div>
  </div>
  <div class="bg-green-600 text-center flex items-center justify-center fw-bold fs-5 rounded-full h-12"
    style="cursor: pointer">
    <i class="bi bi-whatsapp mr-2"></i>
    <a href="http://wa.me/555584316399?text=Ol%C3%A1%2C+gostaria+de+informa%C3%A7%C3%B5es+sobre+o+Curso+Online"
      target="_blank"> DÚVIDAS?</a>
  </div>

</div>
