<div class="mt-20 fs-1 fw-bold text-center uppercase">
  {{ 'ereal' | translate }}
</div>
<div class="fs-3 fw-light mb-10 text-center">
  {{ 'arespsim' | translate }}
</div>

<div>
  <img src="./../../../assets/curso online.png" alt="">
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <img src="./../../../assets/resultados1.PNG" alt="Random first slide" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="./../../../assets/resultados2.PNG" alt="Random second slide" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="./../../../assets/resultados3.PNG" alt="Random third slide" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="./../../../assets/resultados5.PNG" alt="Random fourth slide" />
  </ng-template>
</ngb-carousel>