<div class="title fs-1 fw-bold">
  FAÇA COMO <span class="text-pink-800">VÁRIAS MULHERES</span> COMUNS QUE SAÍRAM DO ZERO E CONQUISTARAM A SUA
  INDEPENDÊNCIA SE
  TORNANDO UMA <span class="text-pink-800">NAIL DESIGNER
    DE SUCESSO</span>
</div>


<ngb-carousel>
  <ng-template ngbSlide>
    <img src="./../../../assets/depoimentos1.PNG" alt="Random first slide" />
  </ng-template>
  <ng-template ngbSlide>
    <img src="./../../../assets/depoimentos2.PNG" alt="Random second slide" />
  </ng-template>
</ngb-carousel>